/* затемняющий overlay для карточек и секции cover */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000;
}

/* стили header */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  margin: 92px 50px 96px;
}

.header__logo {
  display: block;
  min-width: 130px;
}

.header__links-list {
  display: flex;
  gap: 33px;
  font-size: 18px;
  text-underline-offset: 3px;
  text-transform: lowercase;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-underline-offset: 3px;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

/* стили секции cover */

.cover {
  position: relative;
  z-index: -2;
  min-height: 757px;
  margin-bottom: 180px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.cover__title {
  padding: 165px 20px 0 50px;
  color: #fff;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  margin-bottom: 18px;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 105px 50px 0 50px;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.cover__description-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

/* стили секции lots */

.lots {
  margin-bottom: 155px;
}

.lots__heading {
  margin: 0 0 27px 64px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 0 0 30px 24px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: -2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  color: #fff;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
}

.lots__look-more-link {
  margin-left: 64px;
  font-size: 20px;
  text-underline-offset: 5px;
  text-transform: lowercase;
}

/* стили секции about */

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  margin: 0 25px 180px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-left: 47px;
  border-radius: 100%;
  background-color: #000;
}

.about__logo-img {
  max-width: 148px;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 100px;
  padding-left: 25px;
}

.about__wrapper-title {
  margin-bottom: 77px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about__wrapper-text {
  padding-right: 10px;
  font-size: 20px;
}

/* стили секции footer */

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  margin: 0 50px 50px;
}

.footer__address {
  max-width: 265px;
  text-underline-offset: 5px;
}

.footer__menu-list {
  min-width: 165px;
  font-size: 18px;
  text-align: center;
  text-underline-offset: 5px;
  text-transform: lowercase;
  list-style: none;
}

.footer__link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.footer__social-list-item {
  max-width: 48px;
}
